<app-header></app-header>

<div class="container">
  <form [formGroup]="editarForm" (ngSubmit)="putForm(editarForm.value)">
    <div class="col">
      <label for="">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre Usuario"
        formControlName="nombre"
      />
    </div>
    <br />
    <div class="col">
      <label for="">Clave</label>
      <input
        type="text"
        class="form-control"
        placeholder="Clave"
        formControlName="clave"
      />
    </div>
    <br />
    <div class="col">
      <label for="">Rol</label>
      <input
        type="text"
        class="form-control"
        placeholder="Rol"
        formControlName="idRol"
      />
    </div>
    <br /><br />
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <button type="button" class="btn btn-danger" (click)="eliminar()">
      Eliminar
    </button>
  </form>
  <div class="alert alert-danger" *ngIf="errorStatus">
    <p>{{ errorMsj }}</p>
  </div>
</div>

<app-footer></app-footer>
